*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


header{
	background-color: #CCDEEC;
}

.navbar-toggler-icon{
	background-color: black;
}

h4{
	margin-top: 30px;
}

.form-group{
	margin-top: 30px;
}
h2{
	margin: 20px 0px 20px 0px;
}

h3{
	margin: 20px 0px 20px 0px;
	font-size: 20px;
	font-weight: 400;
}

.buttons{
	margin: 20px 0px 60px 0px;
	display: flex;
	justify-content: center;
}

.btn btn-success{
	height: 30px;
}

.principal{
	height: 2300px;
}

.row{
	margin: 20px 0px 20px 0px;
}

.center{
	display: flex;
	justify-content: center;
}

footer{
	margin-top: 10px;
}

buttons{
	display: flex;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
	  .principal{
	    height:3100px;
	  }
	  .my-custom-scrollbar {
		position: relative;
		height:100px;
		overflow: auto;
	}


}