<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/formProduct.css">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/eff814ecb5.js" crossorigin="anonymous"></script>
<title>Projeto Licitação</title>





</head>
<body>
	<main>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
		  <div class="container">
		    <a class="navbar-brand" href="/">
		      <img src="img/img-academy/logo header-site.png" alt="..." height="56">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav ms-auto">
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            <i class="fas fa-building"></i> Empresa
		          </a>
		          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="#"><i class="fas fa-building"></i> Cadastrar Empresa</a></li>
		            <li><a class="dropdown-item" href="#"><i class="fas fa-search"></i> Pesquisar Empresa</a></li>
		          </ul>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            <i class="fas fa-user"></i> Vendedor
		          </a>
		          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Cadastrar Vendedor</a></li>
		            <li><a class="dropdown-item" href="#"><i class="fas fa-search"></i> Pesquisar Vendedor</a></li>
		          </ul>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            <i class="fas fa-box"></i> Produto
		          </a>
		          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="#"><i class="fas fa-box"></i> Cadastrar Produto</a></li>
		            <li><a class="dropdown-item" href="#"> <i class="fas fa-search"></i>Pesquisar Produto</a></li>
		          </ul>
		        </li>
		        
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
	
	
		<div class="container">
		<h3>+ Inserir Produto</h3>
			<form  method="post" onsubmit="return validateForm()" action="/insertProduct" th:object="${produto}">
			
				<div class="form-group">
					<i class="fas fa-hashtag"></i> <label for="itemArea">Item</label>
					<input type="number" class="form-control"  id="field_item" th:field="*{item}" >
				</div>
			
				<div class="form-group">
					<i class="fas fa-info"></i> <label for="descriptionArea">Descrição do Produto</label>
    				<input class="form-control" id="field_descricao" th:field="*{descricao}">
				</div>
				
				<div class="form-group">
					<i class="fas fa-weight-hanging"></i><label for="descriptionArea">Unidade</label>
					<input class="form-control" id="field_unidade" th:field="*{unidade}">
				</div>
				
				<div class="form-group">
					<i class="fas fa-dollar-sign"></i> <label for="priceArea">Preço Unitário</label>
    				<input type="number" step=".01" class="form-control" id="field_preco" placeholder="" th:field="*{preco_unitario}">
				</div>
				
				
				<div class="buttons">
					<button type="submit" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Cadastrar</button>&nbsp; &nbsp;
					<button type="button" class="btn btn-danger"><i class="fas fa-backward"></i> Voltar</button>
				</div>
			</form>
		</div>
		
		
		
	</main>
	
	<footer> Todos os direitos reservados à <strong><a href="https://github.com/GabrielPereira187" target="_blank">Gabriel de Barros Pereira</a></strong> &copy; 2021 </footer>
	
	
	<script src="scripts/cadastroProduto.js"></script>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>