<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="shortcut icon" href="img/img-academy/bid.ico"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/eff814ecb5.js" crossorigin="anonymous"></script>
<title>Projeto Licitação</title>
</head>
<body>
	
	
	<div th:replace="fragmentos/fragmentos-pg-inicial :: cabecalho-principal">
		
	</div>
	
		
	
	<div th:replace="fragmentos/fragmentos-pg-inicial :: rodape"></div>
	
	
	
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


<!-- maybe for the future  -->
<!-- <i class="fas fa-edit"></i> <i class="fas fa-trash"></i>  -->